<web-fragment xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-fragment_3_0.xsd"
              version="3.0">

    <name>jlfuWebFragment</name>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:/META-INF/jlfu-web-fragment-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>jlfuFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>


    <filter-mapping>
        <filter-name>jlfuFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.am.jlfu.fileuploader.web.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/javaLargeFileUploaderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServletAsync</servlet-name>
        <servlet-class>com.am.jlfu.fileuploader.web.UploadServletAsync</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServletAsync</servlet-name>
        <url-pattern>/javaLargeFileUploaderAsyncServlet</url-pattern>
    </servlet-mapping>

</web-fragment>